<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfólio - Julia</title>
</head>
<body>
  <main>
    <article id="start"></article>

    <article id="about-me"></article>

    <article id="skills"></article>
    
    <!-- <article id="differentials"></article> -->

    <article id="projects"></article>

    <article id="contact"></article>
  </main>

  <footer>

  </footer>
</body>
</html>